body, table, input, textarea {
	font-family: Tahoma;
	font-size: 9pt;
}
body {
	background-image: url('images/bg.gif');
	text-align:center;
}
#container {
	width: 700px;
	padding: 20px;
	background-color: #0000FF;
	margin:auto;
	text-align:left;
}
#banner {
	width: 100%;
	height: 70px;
	border: 1px solid #FFA500;
	text-align:center;
	padding-top: 50px;
	background-color: #8A2BE2;
	margin-bottom: 10px;
}
#banner_text {
	font-size: 20px;
	font-weight: bold;
	color: #FF7F50;
}
#banner_subtext {
	text-align: right;
	padding-right: 250px;
	color: #6495ED;
	font-weight: bold;
}
#navigation {
	margin-top:12px;
	border-top: 1px solid #DDDDDD;
	padding: 2px;
}
#navigation a {
	color: #666666;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 25px;
}

a, a:hover, a:active, a:visited {
	color: #000000;
	text-decoration: none;
}

div.title {
	font-weight: bold;
	border-bottom: 2px solid #FFA500;
	padding: 2px;
	padding-left: 10px;
}

div.content {
	border: 1px solid #AAAAAA;
	margin: 8px;
	padding: 15px;
	background-color: #FAFAFA;
}

input, textarea {
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
}
div.success {
	border:1px solid #00AA00;
}
div.error {
	border:1px solid #EE0000;
}
.tr_title td {
	border-bottom: 1px solid #777777;
}
table {
	width: 100%;
}
td {
	padding: 3px;
	border-bottom: 1px solid #DDDDDD;
	font-family:Verdana;
	font-size:10px;
}
a.button span {
	width:200px;
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	padding: 2px 6px 2px 6px;
	color: #222222;
	margin-right: 2px;
	font-family:Verdana;
	font-size:10px;
}
.green, a.green{
	color: #00AA00;
}
.red {
	color: #EE0000;
}